html {
  box-sizing: border-box;
  background-color: #000;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Iceland";
  src: url("./Fonts/Iceland/Iceland-Regular.ttf");
}

@font-face {
  font-family: "Grenze Gotisch";
  src: url("./Fonts/Grenze_Gotisch/GrenzeGotisch-ExtraLight.ttf");
}

body {
  font-family: "Grenze Gotisch", cursive;
  margin: 0;
  background: linear-gradient(180deg, #870000 10%, #181818 30%, #000 90%);
}

.home-screen-blur {
  filter: blur(10px);
  transition: filter 0.5s;
  padding-top: 40px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #3e3e3e;
  border: inset 2px black;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #3e3e3e;
}

body::-webkit-scrollbar-thumb {
  background-color: #510101;
  min-height: 20px;
  border-top: solid 1px #870000;
  border-bottom: solid 1px #870000;
}

.page {
  display: block;
  background: linear-gradient(
    180deg,
    #870000 10%,
    #510101 40%,
    #2f0000 60%,
    #000 90%
  );
  box-sizing: border-box;
  padding: 1%;
}

.seriespage {
  width: 100%;
  min-height: 100vh;
  padding-top: 20px;
  background-position: center;
  background: linear-gradient(180deg, #870000 10%, #181818 30%, #000 90%);
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seriespage img {
  height: 540px;
  width: 360px;
  border-radius: 20px;
}

@keyframes animate {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.description {
  padding-left: 20px;
}

.seriespage p b {
  font-family: Grenze Gotisch;
}

.infposter {
  position: sticky;
  width: 360px;
  height: 540px;
  border-radius: 20px;
}

.infposter:before,
.infposter:after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  background: linear-gradient(
    45deg,
    #fff,
    #df0404,
    #870000,
    #b60101,
    #df0404,
    #fff
  );
  background-size: 400% 400%;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  border-radius: 20px;
  z-index: -1;
  animation: animate 8s ease alternate infinite;
}
.infposter:after {
  filter: blur(20px);
}

.seriespage p {
  color: #fff;
  font-size: 20px;
  font-family: Grenze Gotisch;
  line-height: 30px;
  padding: 5px 30px;
  max-width: 900px;
}

.seriespage h1 {
  color: #fff;
  font-size: 40px;
  font-family: Grenze Gotisch;
  line-height: 35px;
  padding: 10px 0 30px 30px;
}

.seriespage p span {
  color: #fff;
  font-size: 20px;
  font-family: "Grenze Gotisch";
  line-height: 20px;
  padding: 0 5px 5px 30px;
  font-weight: bold;
}

.seasons-container {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.seasons-container img {
  width: 150px;
  height: 220px;
  margin: 20px 5px;
  border: firebrick 1px solid;
  border-radius: 10%;
}

.searchSeriesInfo {
  width: 100%;
  padding-top: 20px;
  background-position: center;
  background: linear-gradient(180deg, #870000 10%, #181818 30%, #000 90%);
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
}

.searchSeriesPage {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchSeriesPage p {
  color: #fff;
  font-size: 20px;
  font-family: Grenze Gotisch;
  line-height: 30px;
  padding: 5px 30px;
  max-width: 900px;
}

.searchSeriesPage h1 {
  color: #fff;
  font-size: 40px;
  font-family: Grenze Gotisch;
  line-height: 35px;
  padding: 10px 0 10px 30px;
}

.searchSeriesPage p span {
  color: #fff;
  font-size: 20px;
  font-family: "Grenze Gotisch";
  line-height: 20px;
  padding: 0 5px 5px 30px;
  font-weight: bold;
}

.searchSeriesPage img {
  height: 540px;
  width: 360px;
  border-radius: 20px;
}

.searchSeriesPage p b {
  font-family: Grenze Gotisch;
}

.searchedDescription {
  padding-left: 20px;
}

.searchedDescription p span {
  padding: 0 5px 5px 5px;
}

.searchedDescription a p {
  text-decoration: underline;
}

.season {
  margin: 20px;
}

.season h3 {
  font-family: Grenze Gotisch;
  font-size: 30px;
  color: white;
}

audio {
  margin: 20px;
  border: 1px solid white;
  border-radius: 40px;
}

audio::-webkit-media-controls-panel {
  background-color: #870000;
}

audio::-webkit-media-controls-current-time-display {
  color: #fff;
  text-shadow: none;
}

audio::-webkit-media-controls-time-remaining-display {
  color: #fff;
  text-shadow: none;
}

audio::-webkit-media-controls-timeline {
  background-color: #7a0101;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

audio::-webkit-media-controls-volume-slider {
  background-color: #7a0101;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
}

audio::-webkit-media-controls-mute-button {
  margin-right: 10px;
}

.seriessearch {
  box-sizing: border-box;
  padding: 1%;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.seriessearch button {
  background-color: #7a0101;
  border-color: #4d3939;
  color: white;
  padding: 0.5%;
  cursor: pointer;
  font-size: 20px;
  font-family: Grenze Gotisch;
  border-radius: 20px;
}

.seriessearch input {
  width: 20%;
  font-family: Grenze Gotisch;
  font-size: 30px;
  padding: 0 10px;
  margin: 10px;
  box-sizing: border-box;
  border: 2px solid firebrick;
  border-radius: 4px;
}

.seriessearch h1 {
  position: relative;
  color: #fff;
  padding: 11px 4px;
  font-size: 45px;
  font-family: Grenze Gotisch;
  font-weight: bold;
  line-height: 0.75;
  margin-bottom: 10px;
}
.seriessearch h2 {
  font-size: 30px;
}

.seriessearch h2 a {
  position: relative;
  color: #fff;
  padding: 11px 4px;
  font-size: 30px;
  font-family: Grenze Gotisch;
  font-weight: bold;
  line-height: 0.75;
}

.seriessearch img {
  width: 200px;
  border-radius: 12px;
  height: 280px;
  margin-bottom: 8px;
  border-color: #660000;
  border-style: solid;
  filter: grayscale(0);
}

.APISeries {
  display: none;
}

#results {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  justify-content: space-around;
}
.searchseries {
  flex: 0 1 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 10px;
  padding: 8px;
  text-align: center;
  padding-bottom: 10px;
}

h2 {
  position: relative;
  color: #fff;
  padding: 11px 4px;
  font-size: 45px;
  font-family: Grenze Gotisch;
  font-weight: bold;
  line-height: 0.75;
}

h2:after {
  content: "";
  position: absolute;
  width: 70%;
  left: 15%;
  height: 2px;
  bottom: 0;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    #2c3539 10%,
    #757575 30%,
    white 50%,
    #757575 70%,
    #2c3539 90%
  );
}

a {
  text-decoration: none;
}

p {
  color: #fff;
  font-size: 20px;
  font-family: "Grenze Gotisch";
  line-height: 20px;
}

.date-glitch {
  display: flex;
  justify-content: center;
  min-width: 200px;
  align-items: center;
  margin: 0 10px;
}

.date-text {
  position: absolute;
  font-size: 40px;
  font-family: Iceland;
  color: #fff;
  z-index: 1;
}
.date-text::before,
.date-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.date-text::before {
  color: #0d00ff;
  animation: glitch-effect 3s infinite;
}

/* .date-text::third{
    color: #ff00f7;
    animation: glitch-effect 4s infinite;
} */

.date-text::after {
  color: #08cd33;
  animation: glitch-effect 2s infinite;
}

@keyframes glitch-effect {
  0% {
    left: -2px;
    top: -2px;
    color: #ff00c8;
  }
  25% {
    left: 2px;
    top: 0px;
  }
  50% {
    left: -1px;
    top: 2px;
  }
  75% {
    left: 1px;
    top: -1px;
  }
  100% {
    left: 0px;
    top: -2px;
  }
}

.series {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-around;
}

.blur-out {
  filter: blur(0);
}

.series li {
  flex: 0 1 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 10px;
  padding: 8px;
  text-align: center;
  padding-bottom: 10px;
}

.series li p span {
  font-weight: bold;
  font-family: "Grenze Gotisch";
}

.series li img {
  width: 250px;
  border-radius: 12px;
  height: 360px;
  margin-bottom: 8px;
  border-color: #660000;
  border-style: solid;
  filter: grayscale(0);
}

.series li img:hover {
  filter: grayscale(1);
  transform: scale(1.1) translateY(-10px);
  border: solid 2px;
  border-color: white;
}

.rating {
  font-size: 25px;
  font-weight: bold;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 11px;
  border: #7a0101 2px solid;
  border-right: 0px;
  z-index: 1000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navbar button {
  background-color: #7a0101;
  border: none;
  color: white;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 20px;
}

.navbar button:hover {
  background-color: #480101;
}

.navbar .icon {
  width: 24px;
  height: 24px;
}

#muteIcon {
  display: block;
}

#unmuteIcon {
  display: none;
}

#searchIcon {
  display: block;
}

#homeIcon {
  display: none;
}

#pauseIcon {
  display: block;
}

#playIcon {
  display: none;
}

.hidden {
  display: none;
}

.nav-buttons {
  display: flex;
}

@media screen and (max-width: 770px) {
  .date-text {
    font-size: 30px;
  }
  .date-glitch {
    min-width: 150px;
  }
  .navbar .icon {
    width: 18px !important;
    height: 18px !important;
  }
  .navbar button {
    padding: 7px !important;
    margin: 5px !important;
  }
  .seriespage {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .searchSeriesPage {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .description {
    padding: 0;
    padding-top: 15px;
    text-align: center;
  }
  .searchedDescription {
    padding: 0;
    padding-top: 15px;
    text-align: center;
  }
  .seasons-container {
    justify-content: center;
    text-align: center;
  }

  .seriespage h1 {
    padding: 10px 0 30px 0;
    text-align: center;
  }
  .searchSeriesPage h1 {
    padding: 10px 0 30px 0;
    text-align: center;
  }
  .searchSeriesPage img {
    height: 375px;
    width: 250px;
  }
  audio {
    margin: 20px 0;
  }
  .infposter {
    width: 250px;
    height: 375px;
  }
  .seriespage img {
    height: 375px;
    width: 250px;
  }
  .navbar {
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 20px;
    width: 100% !important;
  }
  .home-screen-blur {
    padding-top: 70px !important;
  }
  .navbar button {
    font-size: 12px !important;
  }
}
